<div class="background">
  <div class="container">
    <div class="screen">

      <div class="screen-body">

        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input  [(ngModel)]="uname" class="app-form-control" placeholder="User Name" value="">
            </div>

            <div class="app-form-group">

              <input  type="{{type}}" [(ngModel)]="pass" class="app-form-control" placeholder="Password">
              <i class="fa fa-eye-slash" (click)=myFunction()></i>
            </div>


            <div class="app-form-group buttons">
              <button  (click)=login() class="app-form-button">Log In</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
