/* mat-sidenav {
  width: 250px;
  padding:15px;
} */
.mat-drawer {
  /* background-color:  rgb(255, 253, 253)	; */
  background: #f5f5f5;
  /* color:rgb(122, 92, 92) */
  color:#3365fe;
  font-family: Open Sans,sans-serif;
}

.main-content {
  padding:20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
mat-sidenav-content {
  height: 100vh;
}
  .myCSSclass{
  margin-left: 65px !important;
}
.docIcon{
  /* background: url(../../../assets/newicon.jpg); */
    height: 50px;
    width: 100%;
    display: inline-block;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* .profilespan{
  height:150px;
  width:150px;
} */

.togglebutton {
  border:1px solid blue
}
.bottomStick{
  /* border-top:1px solid green;border-bottom:1px solid green; */
  position:absolute; bottom:0
}
.bottomRelative{
  position:relative;
}
.treenode{
  padding-left: 27px !important
}
.active-link {
  /* //background: #0b9444; */
  background: #262a33;
  color: #fff;
  opacity: 1;

}
a:hover {
  text-decoration: none;
  color:green;
}
.treenode:hover{
  color: mediumturquoise;
}
