/* mat-sidenav {
  width: 250px;
  padding:15px;
} */
.mat-drawer {
  /* background-color:  rgb(255, 253, 253)	; */
  background: #ffffff;
  /* color:rgb(122, 92, 92) */
  color: #e1e6f8;
  font-family: Open Sans, sans-serif;
}

.main-content {
  padding: 20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
mat-sidenav-content {
  height: 100vh;
}
.myCSSclass {
  margin-left: 65px !important;
}
.docIcon {
  /* background: url(../../../assets/newicon.jpg); */
  height: 50px;
  width: 100%;
  display: inline-block;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* .profilespan{
  height:150px;
  width:150px;
} */

.togglebutton {
  border: 1px solid rgb(214, 214, 240);
}
.bottomStick {
  /* border-top:1px solid green;border-bottom:1px solid green; */
  position: absolute;
  bottom: 0;
}
.bottomRelative {
  position: relative;
}
.treenode {
  padding-left: 27px !important;
}
.active-link {
  /* //background: #0b9444; */
  background: #262a33;
  color: #fff;
  opacity: 1;
}
.mat-toolbar{
  background-color: rgb(100, 98, 102);
  color:rgb(251, 250, 253);
}
mat-tree-node:hover{
  background-color:#97999f;
  color:#071b57;
}
mat-tree-node{
  color:#071b57;
}
a:hover{
  text-decoration: none;
}
button:focus {outline:0;}

/* ::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb{
  background: red;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover{
  background: #b30000;
} */
