<div class="card card-outline-secondary">
  <div class="card-header">
      <h3 class="mb-0">Create Document Template</h3>
  </div>
  <div class="card-body">
      <form class="form" role="form" [formGroup]="formGroup" autocomplete="off">

        <div class="row">
          <div class="col">
          <div class="form-group">
            <label for="inputName">Document Template</label>
            <input type="text" class="form-control" formControlName="doc_templ" placeholder="Document Template">
            <span *ngIf="!formGroup.controls['doc_templ'].valid && formGroup.controls['doc_templ'].touched">
              Field is required
            </span>
        </div>
        </div>

      <div class="col">
        <div class="form-group">
          <label for="inputName">Description</label>
          <textarea class="form-control" formControlName="discription" placeholder="Description"></textarea>
          <span *ngIf="!formGroup.controls['discription'].valid && formGroup.controls['discription'].touched">
            Field is required
          </span>
        </div>
      </div>
      </div>

      <div class="row">
        <!-- <div class="col">
        <div class="form-group">
          <label for="inputName">Document Type</label>
          <input type="text" class="form-control" formControlName="doc_type_dropdown" placeholder="Document Type">
          <span *ngIf="!formGroup.controls['doc_type_dropdown'].valid && formGroup.controls['doc_type_dropdown'].touched">
            Field is required
          </span>
      </div>
    </div> -->
    <div class="col">
      <div class="form-group">
        <label>Field Type</label>
        <input type="hidden" formControlName="doc_type_dropdown"/>
        <app-combo-box [editFieldType]="editFieldType" [view]="view" [list]="documentTypeListValue" (messageToEmit)="getMessage($event)" ></app-combo-box>
      </div>
    </div>
      <div class="col">
        <label for="inputName">Document Upload</label>
        <div class="custom-file">

          <input type="file" class="custom-file-input">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>

      </div>
      <div class="row tbl-cls">

        <div class="col">
          <div class="form-group">
            <label for="inputName">Document Template Code</label>
            <input type="text" class="form-control" formControlName="documentTemplateCode" placeholder="Document Template Code">
            <span *ngIf="!formGroup.controls['documentTemplateCode'].valid && formGroup.controls['documentTemplateCode'].touched">
              Field is required
            </span>
        </div>
        </div>
        </div>
        <div class="card cls-c">
          <div class="cls-h card-header">
           Document Type Fields
          </div>

        <table mat-table [dataSource]="dataSource_dtype" class="mat-elevation-z8" >

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="fieldId">
            <th mat-header-cell *matHeaderCellDef> Field Id </th>
            <td mat-cell *matCellDef="let element"> {{element.fieldId}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="fieldLabel">
            <th mat-header-cell *matHeaderCellDef> Field Label </th>
            <td mat-cell *matCellDef="let element"> {{element.fieldLabel}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="field_sequence">
            <th mat-header-cell *matHeaderCellDef> Field Seq. </th>
            <td mat-cell *matCellDef="let element"> {{element.field_sequence}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="fieldType">
            <th mat-header-cell *matHeaderCellDef> Field Type </th>
            <td mat-cell *matCellDef="let element"> {{element.fieldType}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns_dtype"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns_dtype;"></tr>
        </table>
      </div>

      <div class="row row-cls1">
        <div class="col-md-10 ">
        <button type="submit" [hidden]="view" class="btn btn-success float-right" (click)="opendialog(null)">Add Field</button>
      </div>
    </div>
    <div class="card cls-c1">
      <div class="cls-h card-header">
       Document Template Fields
      </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="field_id">
            <th mat-header-cell *matHeaderCellDef> Field Id </th>
            <td mat-cell *matCellDef="let element"> {{element.field_id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="field_label">
            <th mat-header-cell *matHeaderCellDef> Field Label </th>
            <td mat-cell *matCellDef="let element"> {{element.field_label}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="field_sequence">
            <th mat-header-cell *matHeaderCellDef> Field Seq. </th>
            <td mat-cell *matCellDef="let element"> {{element.field_sequence}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="field_type">
            <th mat-header-cell *matHeaderCellDef> Field Type </th>
            <td mat-cell *matCellDef="let element"> {{element.field_type}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> <p *ngIf="!view">Action</p></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button *ngIf="!view">
                <mat-icon (click)="opendialog(element)">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteElement(element.field_id)" *ngIf="!view">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

      <div class="row row-cls">
        <div class="col-md-6">
          <div class="form-group">
              <button type="submit" [hidden]="view" class="btn btn-success  float-right" (click)="onSubmit()" > Save</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <button type="submit" class="btn btn-success float-left" (click)="goBack()">Cancel</button>
        </div>
        </div>
      </div>
      </form>
  </div>
 </div>





