.form-assign {
  margin-left: 730px;
  margin-bottom: -35px;
}

.form-save {
  margin-left: 850px;
  margin-bottom: 10px;
}

.table {
  margin-left: 60px;
  width: 90%;
  padding: 10px 0px 0px 0px;
}
