.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.heading {
  margin-top: -35px;
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 40%;
}

.button {
  width: 100%;
}
.usr-mat-card {
  max-width: 200px;
}

.mat-form-field {
  margin-left: 70px;
}

table {
  width: 100%;
}

.form-addfield {
  margin-left: 700px;
  width: 10%;
  margin-top: -40px;
  margin-bottom: 40px;
}

.form-cancel .button {
  font-size: 13px;
}

.form-control {
  width: 300px;
}
.card-body {
  margin-left: 110px;
}

.btnclass {
  margin-top: 32px;
}

span {
  color: red;
  font-size: 10px;
  position: absolute;
}
.cls-h{
    padding: 0.3rem 0.75rem;
}
.cls-c{
  max-width: 731px;
}
tr.mat-header-row {
  height: 40px;
}
tr.mat-footer-row, tr.mat-row {
  height: 40px;
}
